<a href="https://colab.research.google.com/github/Jessyjes2003/Python-study/blob/main/Program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = "Orange"
y = "Cherry"
print(x,y)

Orange Cherry

In [ ]:
x = "Orange"
y = "Cherry"
print(x+y)

OrangeCherry

In [ ]:
x,y,z = "Orange","Cherry","Apple"
print(x)
print(y)
print(z)

Orange
Cherry
Apple

In [ ]:
x=y=z="Cherry"
print(x,y,z)

Cherry Cherry Cherry

In [ ]:
x=5
y=8
def addi():
  print(x+y)
addi()

13

In [ ]:
x="apple"
y="orange"
def fruits():
  print(x,y)
fruits()

apple orange

In [ ]:
x=2j
print(type(x))

<class 'complex'>

In [ ]:
x=2
print(complex(x))

(2+0j)

In [ ]:
import random
print(random.randrange(1,10))

5

In [ ]:
x="Cherry"
print(x[3])

r

In [ ]:
a="Cherry"
print(len(a))
for x in a:
  print(x)

6
C
h
e
r
r
y

In [ ]:
x=["Apple","Orange","Cherry"]
x.append("Grapes")
print(x)

['Apple', 'Orange', 'Cherry', 'Grapes']

In [ ]:
a = "Python is so good"
print("so" in a)

True

In [ ]:
a="Cherry"
print(a.replace("C","J"))

Jherry

In [ ]:
a="Hello World"
print(a.split(" "))

['Hello', 'World']

In [ ]:
age=20
a="I am {} yrs young"
print(a.format(age))

I am 20 yrs young

In [ ]:
a="Cherry"
print(a.replace("Ch","J"))

Jerry

In [ ]:
num=23
txt="there are {} students in class"
print(txt.format(num))

there are 23 students in class

In [ ]:
good="bad"
msg="aiswarya is a {} girl"
print(msg.format(good))

aiswarya is a bad girl

In [ ]:
a="jessy     "
print(a.strip())

jessy

In [ ]:
name="AYSHA"
print(name.capitalize())

Aysha

In [ ]:
name="APPLE"
print(name.count("A"))
print(len(name))
print(name.capitalize())
for x in name.capitalize():
  print(x)

1
5
Apple
A
p
p
l
e

In [ ]:
a ="Apple,Orange,\Cherry"
print(a)

Apple,Orange,\Cherry

In [ ]:
x = 10
y = 2
print(x/y)

5.0

In [ ]:
x = "Hi there hello"
y = "Hi"
print(y in x)

True

In [ ]:
x = "Hi there hello"
y = "Hi"
print(y is x)

False

In [ ]:
li = ["Monday","Tuesday","Wednesday","Friday"]
li.insert(3,"Thursday")
print(li)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [ ]:
li = ["Monday","Tuesday","Wednesday"]
li2 = ["Thursday","Friday"]
li.extend(li2)
print(li)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [ ]:
li = ["Monday","Tuesday","Wednesday"]
li2 = ["Thursday","Friday"]
li.extend(li2)
li.clear()
print(li)

[]

In [ ]:
#by aysha
anime=["naruto","sasuke","kakashi"]
print(anime)
anime.append("jiraya")
print(anime)
anime.pop()
print(anime)
anime.pop(1)
print(anime)
anime.remove("naruto")
print(anime)
anime.clear()
print(anime)

['naruto', 'sasuke', 'kakashi']
['naruto', 'sasuke', 'kakashi', 'jiraya']
['naruto', 'sasuke', 'kakashi']
['naruto', 'kakashi']
['kakashi']
[]

In [ ]:
bts = ["Suga","Jin","Jungkook","Kim","Jimin"]
bts.sort()
print(bts)

['Jimin', 'Jin', 'Jungkook', 'Kim', 'Suga']

In [ ]:
bts.sort(reverse = True)
print(bts)

['Suga', 'Kim', 'Jungkook', 'Jin', 'Jimin']

In [ ]:
num = [26,7,50]
num.sort()
print(num)

[7, 26, 50]

In [ ]:
num.reverse()
print(num)

[50, 26, 7]

In [ ]:
mybts = bts.copy()
print(mybts)

['Suga', 'Kim', 'Jungkook', 'Jin', 'Jimin']

In [ ]:
mybtss=list(bts)
print(mybtss)

['Suga', 'Kim', 'Jungkook', 'Jin', 'Jimin']

In [10]:
tup = ("Cat","Dog","Rabbit","Lion")
print(type(tup))

<class 'tuple'>

In [11]:
print(len(tup))
th = tuple(("Cherry","Magic"))
print(th)
print(tup[1])
print(tup[-1])

4
('Cherry', 'Magic')
Dog
Lion

In [6]:
print(tup[-3:])

('Dog', 'Rabbit', 'Lion')

In [7]:
if "Lion" in tup:
  print("I saw Lion.....!!!!")

I saw Lion.....!!!!

In [12]:
li3 = list(tup)
print(li3)

['Cat', 'Dog', 'Rabbit', 'Lion']

In [13]:
li3.insert(2,"Tortoise")
tup = tuple(li3)
print(tup)

('Cat', 'Dog', 'Tortoise', 'Rabbit', 'Lion')

In [15]:
li3.remove("Rabbit")
tup = tuple(li3)
print(tup)

('Cat', 'Dog', 'Tortoise', 'Lion')

In [16]:
(white,brown,green,gold) = tup
print(white)
print(brown)
print(green)
print(gold)

Cat
Dog
Tortoise
Lion

In [15]:
for x in tup:
  print(x)
for i in range(len(tup)):
  print(i)

Cat
Dog
Tortoise
Lion
0
1
2
3

In [16]:
i=0
while i<len(tup):
  print(tup[i])
  i+=1

Cat
Dog
Tortoise
Lion

In [17]:
tup1 = tup*2
print(tup1)

('Cat', 'Dog', 'Tortoise', 'Lion', 'Cat', 'Dog', 'Tortoise', 'Lion')

In [26]:
fish=("guppy","goldfish","shark","dolphin")
fish1=list(fish)
print(fish1)
fish1.append("pirana")
print(fish1)
fish1.remove("shark")
print(fish1)
fish=tuple(fish1)
print(fish)

['guppy', 'goldfish', 'shark', 'dolphin']
['guppy', 'goldfish', 'shark', 'dolphin', 'pirana']
['guppy', 'goldfish', 'dolphin', 'pirana']
('guppy', 'goldfish', 'dolphin', 'pirana')

In [29]:
food=("dosha","appam","chappathi","porotta")
for i in range(len(food)):
  print(food[i])

dosha
appam
chappathi
porotta

In [8]:
food=("dosha","appam","chappathi","porotta")
i=0
l=len(food)
while i<l:
  print(food[i])
  i+=1

dosha
appam
chappathi
porotta

In [18]:
s = {"Hi","Lion","Cat"}
print(s)

{'Cat', 'Lion', 'Hi'}

In [20]:
print(s.add("Tortoise"))
print(s)

None
{'Cat', 'Tortoise', 'Lion', 'Hi'}

In [26]:
s.add("True")
s.add(False)
s.add(0)
s.add(1)
print(s)

{False, 1, 'Tortoise', 'Cat', 'Lion', 'Hi', 'True'}

In [29]:
print(len(s))
type(s)
ts = set(("false",True,1,0,"Helo"))
print(ts)

7
{0, True, 'Helo', 'false'}

In [32]:
print(s.update(ts))
print(s)

None
{False, 1, 'Tortoise', 'Cat', 'Helo', 'Lion', 'Hi', 'false', 'True'}

In [33]:
s.remove("Hi")
print(s)

{False, 1, 'Tortoise', 'Cat', 'Helo', 'Lion', 'false', 'True'}

In [34]:
s.discard("Helo")
print(s)

{False, 1, 'Tortoise', 'Cat', 'Lion', 'false', 'True'}

In [36]:
x = s.pop()
print(x)
print(s)

1
{'Tortoise', 'Cat', 'Lion', 'false', 'True'}

In [1]:
di = {"Name" : "Jessy","Class" : "CSE","Year" : 3}
print(di)

{'Name': 'Jessy', 'Class': 'CSE', 'Year': 3}

In [3]:
print(di.keys())
print(di.values())

dict_keys(['Name', 'Class', 'Year'])
dict_values(['Jessy', 'CSE', 3])

In [8]:
print(di["Name"])
print(di["Class"])
print(di["Year"])
print(di.get("Name"))

Jessy
CSE
3
Jessy

In [7]:
print(len(di))
print(type(di))

3
<class 'dict'>

In [9]:
di["No"] = 50
print(di.keys())

dict_keys(['Name', 'Class', 'Year', 'No'])